<!DOCTYPE html>
<html>
  <head>
    <title>Lifegram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <script type="text/javascript">
      window.signupPhoto = '<%= image_url('signup-photo.png') %>'
      window.logo = '<%= image_url('logo.png') %>'
      window.add = '<%= image_url('add.png') %>'
      window.icon = '<%= image_url('icon.png') %>'
      window.logout = '<%= image_url('logout.png') %>'
      window.setting = '<%= image_url('setting.png') %>'
      window.profile = '<%= image_url('profile.png') %>'
      window.polaroid = '<%= image_url('polaroid.png') %>'
      window.polaroidPhoto = '<%= image_url('polaroid-photo.png') %>'
      window.redlike = '<%= image_url('redlike.png') %>'
      window.comment = '<%= image_url('comment.png') %>'
      window.like = '<%= image_url('like.png') %>'
      window.option = '<%= image_url('option.png') %>'
      window.italy = '<%= image_url('italy.png') %>'
      window.grid = '<%= image_url('grid.png') %>'
      window.settings = '<%= image_url('settings.png') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
