<!DOCTYPE html>
<html>
  <head>
    <title>Lifegram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <script type="text/javascript">
      window.signup = '<%= image_url('signup/signup-photo.png') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
