<!DOCTYPE html>
<html>
  <head>
    <title>Lifegram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <script type="text/javascript">
      window.signupPhoto = '<%= image_url('signup-photo.png') %>'
      window.logo = '<%= image_url('logo.png') %>'
      window.add = '<%= image_url('add.png') %>'
      window.icon = '<%= image_url('icon.png') %>'
      window.logout = '<%= image_url('logout.png') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
